body {
	font-family: 'Droid Sans';
	font-size: 12px;
}
h1 {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	z-index: 10;
}
.top {
	position: relative;
	z-index: 10;
}

.map {
	position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    opacity: 10;
	position: absolute;
    z-index: 0;
}

.place-list-div {
	height: 200px;
	width: 500px;
	margin: 10px auto 0px auto;
	line-height: 2;
	overflow-y: scroll;
	background: white;
}

.place-list {
	text-align: left;
	padding: 5px;
	list-style-type: none;
}

.place {
	font-size: 14px;
	line-height: 1.8;
	padding: 5px 0px 5px 0px;
}

.place:hover {
	background: #DCDCDC;
	cursor: pointer;
	color: #191970;
}

.sidebar {
	background-color:#c3dfef;
	float: left;
	width: 560px;
	height: 710px;
	min-width: 300px;
	margin-left: 2em;
	border-radius: 15px;
	text-align: center;
}

#tfnewsearch{
	padding: 20px 0px 10px 0px;
	width: 100%;
}

.tftextinput{
	width: 385px;
	margin: 0px;
	padding: 5px 0px 5px 10px;
	color: gray;
	font-size:14px;
	border:1px solid #0076a3; 
	border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.tfbutton {
	width: 100px;
	margin: 0px;
	padding: 5px 15px;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border: solid 1px #0076a3; 
	border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
	text-decoration: none;
	padding-left: 15px;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}

.tfbutton::-moz-focus-inner {
  border: 0;
}

.tfclear {
	clear:both;
}

.image {
	width: 33%;
	float: left;
}

.tips {
	width: 460px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	float: left;
	text-align: center;
	background: white;

}

.tips p {
	text-align: left;
}

#info {
	display: table-row;
	position: relative;
	width: 500px; 
	height: 600px; 
	padding: 15px;
	float: right;
	border-radius: 25px;
	display: none;
}

.pano {
	width: 500px; 
	height: 400px;  
	margin-left: auto;
	margin-right: auto;
}

.view {
	font-weight: bold;
	width: 230px;
	height: 26px;
	font-size:14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	border: solid 1px #0076a3; 
	border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.view:hover {
	text-decoration: none;
	cursor: pointer;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}